@font-face {
	font-family: 'Simon Circular Book';
	src: url('/fonts/SimonCircular-Book.eot');
	src: url('/fonts/SimonCircular-Book.eot?#iefix') format('embedded-opentype'),
		url('/fonts/SimonCircular-Book.woff') format('woff'),
		url('/fonts/SimonCircular-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
