@font-face {
  font-family: 'Simon Circular Book';
  src: url("/fonts/SimonCircular-Book.eot");
  src: url("/fonts/SimonCircular-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/SimonCircular-Book.woff") format("woff"), url("/fonts/SimonCircular-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* line 1, reset.scss */
html {
  overflow-y: scroll;
  height: 100%; }

/* line 1, reset.scss */
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  margin: 0;
  padding: 0; }

/* line 1, reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* line 1, reset.scss */
a {
  color: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  outline: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s; }

/* line 1, reset.scss */
a img, a:active, a:focus, a:visited {
  outline: 0;
  text-decoration: none;
  border: none; }

/* line 1, reset.scss */
a:active, a:hover {
  outline: 0;
  text-decoration: none; }

/* line 1, reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, reset.scss */
button, input, select, textarea {
  font: 99% sans-serif; }

/* line 1, reset.scss */
ol {
  list-style-type: decimal; }

/* line 1, reset.scss */
small {
  font-size: 85%; }

/* line 1, reset.scss */
td, td img {
  vertical-align: top; }

/* line 1, reset.scss */
textarea {
  overflow: auto; }

/* line 1, reset.scss */
input[type=checkbox] {
  vertical-align: bottom; }

/* line 1, reset.scss */
button, input[type=button], input[type=submit], label {
  cursor: pointer; }

/* line 1, reset.scss */
blockquote, pre {
  border: none;
  page-break-inside: avoid; }

/* line 1, reset.scss */
img, tr {
  page-break-inside: avoid; }

/* line 1, reset.scss */
li, ul {
  list-style: none; }

/* line 1, reset.scss */
blockquote, q {
  quotes: none; }

/* line 1, reset.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: none; }

/* line 1, reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/* line 1, reset.scss */
address {
  font-style: normal; }

/* line 1, reset.scss */
body {
  font: 13px/1.231 sans-serif;
  height: 100%; }

/* line 1, reset.scss */
.clear {
  clear: both; }

/* line 1, reset.scss */
.browsehappy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  padding: 100px;
  color: #000;
  z-index: 29000;
  font-size: 1.5em;
  line-height: normal; }

/* line 1, reset.scss */
.browsehappy p {
  color: #000;
  line-height: normal;
  margin: 0 0 20px; }

/* line 1, reset.scss */
.browsehappy p strong {
  font-size: 2em;
  font-weight: 400; }

/* line 1, reset.scss */
.browsehappy p a {
  color: #3B5998; }

/* line 1, reset.scss */
.browsehappy p a:hover {
  text-decoration: underline; }

/* line 1, reset.scss */
.browsehappy small {
  font-size: .5em; }

/* line 1, reset.scss */
select {
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: ''; }

/* line 1, reset.scss */
select:active, select:focus {
  outline: 0; }

/* line 4, main.scss */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: white;
  font-family: 'Simon Circular Book';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 14, main.scss */
body * {
  font-weight: lighter; }

/* line 17, main.scss */
.gif-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("/img/ezgif.com-optimize.gif");
  background-size: cover;
  background-position: top center; }

/* line 27, main.scss */
#video {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  max-height: 4000%;
  max-width: 1000%;
  width: auto;
  height: auto;
  background: black;
  overflow: hidden;
  z-index: 1; }

/* line 41, main.scss */
.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2; }

/* line 47, main.scss */
.inner {
  margin: 0 auto; }

/* line 50, main.scss */
.logo {
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform ease .3s;
  transition: -webkit-transform ease .3s;
  transition: transform ease .3s;
  transition: transform ease .3s, -webkit-transform ease .3s;
  min-height: 400px; }
  /* line 57, main.scss */
  .logo span {
    display: none; }
  /* line 60, main.scss */
  .logo small {
    display: inline-block;
    font-size: 34px;
    font-size: 3vw;
    letter-spacing: .05em;
    border-bottom: solid 2px white; }
  /* line 67, main.scss */
  .logo a {
    color: white;
    text-decoration: none;
    margin: 0;
    display: block; }
    /* line 72, main.scss */
    .logo a:hover {
      color: gray; }
      /* line 74, main.scss */
      .logo a:hover small {
        border-color: gray; }

/* line 80, main.scss */
.table, .table-cell {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: table; }

/* line 87, main.scss */
.table-cell {
  display: table-cell;
  vertical-align: middle; }

/* line 92, main.scss */
#svg-logo {
  width: 100%;
  height: 100%;
  margin-bottom: 50px; }
  /* line 96, main.scss */
  #svg-logo path {
    fill: white; }

@media (max-width: 414px) {
  /* line 101, main.scss */
  .logo small {
    font-size: 18px; } }
@media (max-width: 375px) {
  /* line 106, main.scss */
  .logo small {
    font-size: 16px; } }
@media (max-width: 320px) {
  /* line 111, main.scss */
  .logo small {
    font-size: 14px; } }
/* line 115, main.scss */
.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  z-index: 99999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 129, main.scss */
  .hamburger .pattie {
    height: 2px;
    background: white;
    margin: 0 auto 7px auto;
    width: 30px;
    float: left; }

/* line 137, main.scss */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: black;
  color: white;
  width: 40%;
  z-index: 99999;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform ease .3s;
  transition: -webkit-transform ease .3s;
  transition: transform ease .3s;
  transition: transform ease .3s, -webkit-transform ease .3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  min-width: 220px; }
  /* line 152, main.scss */
  .menu a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
    font-size: 24px; }
    /* line 159, main.scss */
    .menu a:hover {
      background: white;
      color: black;
      text-transform: uppercase; }
    /* line 164, main.scss */
    .menu a:focus {
      background: #333333;
      color: silver; }

/* line 172, main.scss */
.nav-open .menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
/* line 175, main.scss */
.nav-open .logo {
  -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
          transform: translateX(40%); }

/*# sourceMappingURL=main.css.map */